body{
    background-color: rgb(249,208,163,0.6);
}
@font-face {
    font-family: 'Bubble';
    src: url('/Bubbleboddy-FatTrial.ttf'), format('truetype');
    font-display: auto;
}
@font-face {
    font-family: 'Comforta';
    src: url('/Comfortaa-VariableFont_wght.ttf'),
    url('/Comfortaa-VariableFont_wght.otf'),
    format('truetype');
}
body{
    font-family: 'Comforta' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bubble' ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: #DA001E;
    border-radius: 5px;
    padding: 1em;
}
button:hover{
    background-color:rgba(255, 255, 255, 0.75);
    color:#DA001E;
    cursor: pointer;
    transition: 0.5s;
}
li{
    list-style: none;
}